### Work List
1. load the file of user, then drop the first column which is the previous index
2. remove useless columns such as 'type' (user.ype.value_counts()# which is only 'user' with zero variance),'name'(user's name)(drop na is not the situation here)
3. get the count of friends from the friend ID list, then drop the list of friend ID
4. format 'elite' column and convert it into 'elite year' and 'last elite year'
5. calculating user's yelp life using 'yelp_since' variable
6. get users' total vote(include vote_funny, vote_useful and vote_cool)
7. add '_user' to its columns name in order to distinguish from similar name in other two forms when combined together.
8. delete columns with missing value more than 78% (Threshold is decided by distribution)

In [1]:
import pandas as pd
user=pd.read_csv('user_restaurant.csv')
user=user.drop(user.columns[0],1)

In [2]:
user=user.dropna(axis=1,how='all')

In [3]:
user=user.drop(['type','name'],1)

In [4]:
user['friend_count']=user['friends'].map(lambda x: len(x.split(',')) if type(x) != float else 0)
user=user.drop('friends',1)
#some are with value Nan, actually when removing b' and ' the previous data is [] and were all removed so actually there
#should be zero. (should not have missing value since it should be extracted from user information.)

In [5]:
user['last_elite_year']=user['elite'].map(lambda x: x.split(',')[-1] if type(x) != float else x)
user['elite_year_count']=user['elite'].map(lambda x: len(x.split(','))if type(x) != float else 0)
def convert_to_full_yr(x):
    if len(x)==3:
        return ' 2'+x
    else: return x
user['last_elite_year']=user['last_elite_year'].map(lambda x: convert_to_full_yr(x) if type(x) != float else x)
user['last_elite_year']=user['last_elite_year'].map(lambda x: x[1:] if type(x) != float else x)
user=user.drop('elite',1)

In [7]:
user['not_elite_yr_till']=user['last_elite_year'].map(lambda x: 2016-int(x) if type(x) != float else x)
user=user.drop('last_elite_year',1)

In [8]:
user['user_life']=user['yelping_since'].map(lambda x: 2017-int(x[0:4]))
user=user.drop('yelping_since',1)

In [9]:
user['votes_total']=user['votes.funny']+user['votes.useful']+user['votes.cool']
user=user.drop(['votes.funny','votes.useful','votes.cool'],1)

In [12]:
user.columns=user.columns+'_user'

In [13]:
user.to_csv('cleaned_phase1_user_restaurant.csv')

In [10]:
user.shape

(478841, 20)

In [11]:
user.head(5)

,compliments.more,compliments.plain,compliments.photos,user_id,compliments.hot,compliments.cute,compliments.note,compliments.profile,compliments.cool,average_stars,compliments.funny,compliments.writer,review_count,fans,compliments.list,friend_count,elite_year_count,not_elite_yr_till,user_life,votes_total
0,3.0,25.0,14.0,18kPq7GPye-YQ3LyKyAZPw,48.0,15.0,20.0,8.0,76.0,4.14,11.0,9.0,108,69,NaN,200,2,10.0,13,695
1,137.0,970.0,361.0,rpOyqD_893cqmDAtJLbdog,1111.0,204.0,611.0,117.0,1675.0,3.67,594.0,346.0,1292,1345,38.0,1939,12,0.0,13,35732
2,18.0,86.0,27.0,4U9kSBLuBDU391x6bxU-YA,99.0,22.0,79.0,9.0,134.0,3.68,96.0,24.0,395,105,4.0,422,11,1.0,13,2728
3,NaN,NaN,NaN,fHtTaujcyKvXglE33Z5yIw,NaN,2.0,NaN,NaN,NaN,4.64,NaN,NaN,11,2,NaN,4,0,NaN,13,17
4,1.0,2.0,NaN,SIBCL7HBkrP4llolm4SC2A,1.0,2.0,1.0,NaN,1.0,3.80,NaN,2.0,66,5,NaN,4,1,11.0,13,66